:root {
  --primary-color: #2b5293;
  --secondary-color: #6681ae;
  --background-color: #efefef;
}
.success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #efefef;
  flex-direction: column;
}

.success-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 10px;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 10px;
}

.success-info {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* mobile */

@media screen and (max-width: 768px) {
  .success-title {
    font-size: 2rem;
  }
  .success-info {
    font-size: 1rem;
  }
}
